name: CI
on:
    pull_request:

jobs:
    check-guidelines:
        name: Check Guidelines
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: lts/*

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7

            - uses: swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
              with:
                  workspaces: './src-tauri -> target'

            - name: Install pnpm
              run: npm install -g pnpm

            - name: Install Linux deps (official + extras)
              run: |
                  sudo apt-get update
                  sudo apt-get install -y \
                    libwebkit2gtk-4.1-dev \
                    libayatana-appindicator3-dev \
                    librsvg2-dev \
                    patchelf \
                    libasound2-dev \
                    libxdo-dev \
                    unzip \
                    build-essential \
                    curl \
                    wget \
                    file \
                    libssl-dev

            - name: Download & extract ONNX model (Linux)
              shell: bash
              run: |
                  set -euo pipefail
                  url="https://github.com/Kieirra/murmure-model/releases/download/1.0.0/parakeet-tdt-0.6b-v3-int8.zip"
                  tmp="/tmp/model.zip"
                  echo "Downloading $url"
                  curl -L -o "$tmp" "$url"
                  echo "Unzipping into ./resources"
                  unzip -o "$tmp" -d resources
                  ls -al resources

            - name: Install frontend deps
              run: pnpm install

            - name: Install tests dependencies
              run: cd e2e-tests && pnpm install

            - name: Clippy
              run: pnpm run clippy

            - name: Lint
              run: pnpm run lint

    #      - name: Run tests
    #        run: pnpm run test

    compile-linux:
        uses: ./.github/workflows/build-linux.yml
        with:
            dry: true

    compile-windows:
        uses: ./.github/workflows/build-windows.yml
        with:
            dry: true

    compile-macos:
        uses: ./.github/workflows/build-macos.yml
        with:
            dry: true
